# platform things
Thumbs.db
ehthumbs.db
.DS_Store
Desktop.ini
$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp
*.lnk

# unity stuff
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/

*.unityproj
*.suo
*.user
*.userprefs
*.pidb
*.booproj

sysinfo.txt

/Temp/
/Assets/UnityVS/
/Assets/Standard Assets/
/iOS Build/

/.svn/
*.sln
*.csproj

!*.meta

# ROSE stuff
/Assets/3ddata/*
/!Assets/3ddata/.keep
/Assets/Terrain/Textures/*
/!Assets/Terrain/Textures/.keep
/Assets/GameData/
